mixin titleH2(title, showAll, slider)
	.title-h2
		h2= title
		if showAll
			a(href="404.html") Показать все
		if slider
			.slider__arr.slider__arr_prev
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" transform="rotate(-180 20 20)" fill="#F4F6FD"/><path d="M21.929 12.8574L14.8579 19.9285L21.929 26.9996" stroke="#495FEA" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>
			.slider__arr.slider__arr_next
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#F4F6FD"/><path d="M18.071 27.1426L25.1421 20.0715L18.071 13.0004" stroke="#495FEA" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>




mixin card(title, price, img, classCard)
	.card(class= classCard)
		.popup
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 17.9394C-0.0976475 18.3298 -0.0976475 18.9629 0.292943 19.3533C0.683533 19.7438 1.3168 19.7438 1.70739 19.3533L9.82198 11.2415L17.9387 19.3619C18.3291 19.7525 18.9621 19.7525 19.3525 19.3619C19.743 18.9713 19.743 18.338 19.3525 17.9474L11.2364 9.82752L19.3599 1.70682C19.7505 1.31636 19.7505 0.683302 19.3599 0.292844C18.9693 -0.0976148 18.336 -0.0976144 17.9454 0.292844L9.82254 8.41298L1.70711 0.293813C1.31668 -0.0968011 0.683659 -0.0968011 0.293224 0.293813C-0.0972099 0.684427 -0.0972099 1.31774 0.293224 1.70835L8.40809 9.82696L0.292943 17.9394Z" fill="#B1B1B1"/></svg>
				.page-card-single__item
					.item__slider
						.slider-nav
							.slider-nav__arr.slider-nav__arr_prev
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" transform="rotate(-180 20 20)" fill="#F4F6FD"/><path d="M21.929 12.8574L14.8579 19.9285L21.929 26.9996" stroke="#495FEA" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>
							.slider-nav__block
								.slider__item
									img(src="img/slider-single2.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single2.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
							.slider-nav__arr.slider-nav__arr_next
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#F4F6FD"/><path d="M18.071 27.1426L25.1421 20.0715L18.071 13.0004" stroke="#495FEA" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>
						.slider-for
							.slider__item
								img(src="img/slider-single1.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single1.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
					.item__info
						.item__top
							h2.item__name Кольцо-держатель на палец LGD Magnests для телефона серебро
							.item__share
							.item__share.select-share
								.select-share__head
									<svg width="34" height="32" viewBox="0 0 34 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4356 20.75C22.8776 20.75 21.4611 21.3477 20.4172 22.3188L14.2076 18.5917C14.5619 17.7962 14.7586 16.92 14.7586 16C14.7586 15.08 14.5619 14.2038 14.2075 13.4084L20.4171 9.68131C21.4611 10.6523 22.8776 11.25 24.4356 11.25C27.6371 11.25 30.2417 8.72663 30.2417 5.625C30.2417 2.52338 27.6371 0 24.4356 0C21.2341 0 18.6294 2.52338 18.6294 5.625C18.6294 6.54069 18.8566 7.40594 19.2589 8.17075L13.1947 11.8106C11.9511 10.3616 10.0773 9.4375 7.98479 9.4375C4.24969 9.4375 1.21094 12.3814 1.21094 16C1.21094 19.6186 4.24969 22.5625 7.98479 22.5625C10.0773 22.5625 11.9511 21.6384 13.1947 20.1894L19.2589 23.8293C18.8566 24.5941 18.6294 25.4593 18.6294 26.375C18.6294 29.4766 21.2341 32 24.4356 32C27.6371 32 30.2417 29.4766 30.2417 26.375C30.2417 23.2734 27.6371 20.75 24.4356 20.75ZM24.4356 1.875C26.5699 1.875 28.3063 3.55725 28.3063 5.625C28.3063 7.69275 26.5699 9.375 24.4356 9.375C22.3012 9.375 20.5648 7.69275 20.5648 5.625C20.5648 3.55725 22.3012 1.875 24.4356 1.875ZM7.98479 20.6875C5.31686 20.6875 3.14632 18.5847 3.14632 16C3.14632 13.4153 5.31686 11.3125 7.98479 11.3125C10.6527 11.3125 12.8233 13.4153 12.8233 16C12.8233 18.5847 10.6527 20.6875 7.98479 20.6875ZM24.4356 30.125C22.3012 30.125 20.5648 28.4427 20.5648 26.375C20.5648 24.3073 22.3012 22.625 24.4356 22.625C26.5699 22.625 28.3063 24.3073 28.3063 26.375C28.3063 28.4427 26.5699 30.125 24.4356 30.125Z" fill="#495FEA"/></svg>
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
							label.item__likes
								<svg width="37" height="32" viewBox="-2 2 26 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" stroke-width="2" fill="none"/></svg>
								.count 58
						.item__top_2
							.top_2__lft
								.item__sale
									span Продается на 
									img(src="img/svg/yandex.svg" alt="Yandex")
								.item__cashback
									span Возврат кешбэка: 
									.num 21 дн.
							.top_2__rht
								.item__share.select-share
									.select-share__head
										<svg width="34" height="32" viewBox="0 0 34 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4356 20.75C22.8776 20.75 21.4611 21.3477 20.4172 22.3188L14.2076 18.5917C14.5619 17.7962 14.7586 16.92 14.7586 16C14.7586 15.08 14.5619 14.2038 14.2075 13.4084L20.4171 9.68131C21.4611 10.6523 22.8776 11.25 24.4356 11.25C27.6371 11.25 30.2417 8.72663 30.2417 5.625C30.2417 2.52338 27.6371 0 24.4356 0C21.2341 0 18.6294 2.52338 18.6294 5.625C18.6294 6.54069 18.8566 7.40594 19.2589 8.17075L13.1947 11.8106C11.9511 10.3616 10.0773 9.4375 7.98479 9.4375C4.24969 9.4375 1.21094 12.3814 1.21094 16C1.21094 19.6186 4.24969 22.5625 7.98479 22.5625C10.0773 22.5625 11.9511 21.6384 13.1947 20.1894L19.2589 23.8293C18.8566 24.5941 18.6294 25.4593 18.6294 26.375C18.6294 29.4766 21.2341 32 24.4356 32C27.6371 32 30.2417 29.4766 30.2417 26.375C30.2417 23.2734 27.6371 20.75 24.4356 20.75ZM24.4356 1.875C26.5699 1.875 28.3063 3.55725 28.3063 5.625C28.3063 7.69275 26.5699 9.375 24.4356 9.375C22.3012 9.375 20.5648 7.69275 20.5648 5.625C20.5648 3.55725 22.3012 1.875 24.4356 1.875ZM7.98479 20.6875C5.31686 20.6875 3.14632 18.5847 3.14632 16C3.14632 13.4153 5.31686 11.3125 7.98479 11.3125C10.6527 11.3125 12.8233 13.4153 12.8233 16C12.8233 18.5847 10.6527 20.6875 7.98479 20.6875ZM24.4356 30.125C22.3012 30.125 20.5648 28.4427 20.5648 26.375C20.5648 24.3073 22.3012 22.625 24.4356 22.625C26.5699 22.625 28.3063 24.3073 28.3063 26.375C28.3063 28.4427 26.5699 30.125 24.4356 30.125Z" fill="#495FEA"/></svg>
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
								label.item__likes
									<svg width="37" height="32" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" stroke-width="2" fill="none"/></svg>
									.count 58

						.item__price
							.price__title Цена
							.price__block
								.price__num ₽17.50
								strike.price__strike ₽250.00
								.price__lost
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.05585 0.0223165C7.192 0.0846122 6.51586 0.231872 5.80124 0.513396C5.54157 0.615702 5.03075 0.86389 4.76318 1.01776C3.49601 1.74647 2.49319 2.79741 1.83037 4.09133C1.45517 4.82377 1.26934 5.34609 1.13294 6.05162C1.00873 6.69417 0.964922 7.55422 1.02414 8.18778C1.15434 9.58062 1.65799 10.8734 2.51156 12.0057C3.23856 12.97 4.19175 13.7456 5.31045 14.283C6.48922 14.8492 7.89787 15.091 9.2445 14.9583C10.4387 14.8405 11.4864 14.4763 12.519 13.8198C13.7862 13.0143 14.7723 11.8636 15.3918 10.4674C15.7168 9.73498 15.9113 8.95442 15.9848 8.08733C16.0049 7.84969 16.0051 7.17564 15.985 6.92246C15.8805 5.60086 15.4762 4.44984 14.7226 3.32916C14.1418 2.46536 13.343 1.69685 12.45 1.14278C11.4931 0.548998 10.5075 0.199209 9.41922 0.0670867C9.16503 0.0362144 8.6172 -0.00212729 8.46229 9.20866e-05C8.3948 0.00105637 8.2119 0.0110512 8.05585 0.0223165ZM9.16781 1.2905C10.3062 1.42757 11.3046 1.81581 12.2064 2.47214C13.0142 3.06005 13.7015 3.88669 14.1385 4.7959C14.4456 5.43488 14.6375 6.10192 14.7307 6.85519C14.7573 7.06972 14.757 7.90753 14.7303 8.13325C14.6073 9.17158 14.278 10.0895 13.7215 10.9455C13.2801 11.6243 12.6878 12.2205 11.9949 12.6836C10.887 13.4241 9.47531 13.8207 8.21779 13.7445C6.82598 13.6603 5.56765 13.1738 4.49756 12.3063C4.26678 12.1192 3.82545 11.6729 3.63276 11.4317C2.8911 10.5033 2.44916 9.46218 2.28531 8.25724C2.25686 8.04795 2.2517 7.93696 2.25121 7.521C2.25046 6.89543 2.29182 6.53972 2.42856 5.99583C2.69827 4.92292 3.25244 3.93139 4.02169 3.1454C4.35606 2.80375 4.61784 2.58434 4.9962 2.32859C5.88968 1.72466 6.97172 1.35235 8.09419 1.26266C8.26416 1.24907 8.97733 1.26757 9.16781 1.2905ZM8.16321 1.89714C7.73092 1.93339 7.45844 1.97572 7.13189 2.05735C5.69828 2.41577 4.44104 3.34557 3.67644 4.61285C3.29117 5.25145 3.02569 6.02181 2.92483 6.79397C2.87178 7.20008 2.87169 7.8239 2.9246 8.23274C3.10989 9.66404 3.85868 10.99 4.99097 11.892C5.81667 12.5497 6.7792 12.9465 7.8718 13.0794C8.14526 13.1127 8.83506 13.1174 9.09112 13.0877C10.0819 12.9727 10.9312 12.6533 11.7358 12.0931C12.0856 11.8495 12.5247 11.4497 12.8069 11.1179C14.3043 9.35718 14.5477 6.79266 13.4098 4.76675C12.5524 3.24028 11.0434 2.198 9.34419 1.9587C8.83856 1.8875 8.49304 1.86948 8.16321 1.89714ZM9.10482 3.1577C10.3647 3.36302 11.446 4.04301 12.1291 5.05957C12.196 5.15903 12.2558 5.2427 12.2621 5.2455C12.2685 5.24831 12.2736 5.25987 12.2736 5.2712C12.2736 5.28252 12.2827 5.30089 12.2937 5.31202C12.3254 5.34388 12.4962 5.68763 12.5712 5.87031C12.8077 6.44667 12.9256 7.15286 12.887 7.76108C12.8606 8.17526 12.7694 8.61234 12.6332 8.97722C12.5653 9.15897 12.4139 9.4985 12.3896 9.52348C12.38 9.53334 12.3593 9.56879 12.3435 9.60225C12.3278 9.63572 12.3056 9.67236 12.2943 9.68371C12.2829 9.69503 12.2736 9.71357 12.2736 9.72489C12.2736 9.73622 12.2681 9.74778 12.2613 9.75059C12.2546 9.75339 12.2109 9.81424 12.1642 9.88579C11.8265 10.4037 11.3266 10.8892 10.7782 11.2317C10.5921 11.348 10.2175 11.5323 10.019 11.6053C9.4797 11.8037 9.05457 11.8809 8.50063 11.881C8.14994 11.8812 7.97592 11.8653 7.67985 11.8064C6.66471 11.6043 5.73457 11.042 5.08528 10.2378C4.95477 10.0762 4.69695 9.70167 4.69695 9.67374C4.69695 9.66549 4.6917 9.65646 4.68531 9.65364C4.6789 9.65084 4.63115 9.5659 4.57919 9.46487C4.0239 8.38537 3.9564 7.08245 4.3969 5.94635C4.46902 5.76033 4.59883 5.47613 4.61768 5.46297C4.6242 5.4584 4.6423 5.4273 4.65793 5.39384C4.67354 5.36037 4.69561 5.32373 4.70698 5.31238C4.71833 5.30106 4.72762 5.28252 4.72762 5.2712C4.72762 5.25987 4.73284 5.24831 4.7392 5.2455C4.74557 5.2427 4.78178 5.19254 4.81968 5.13402C5.00701 4.84486 5.30502 4.4981 5.56749 4.2639C6.10045 3.78834 6.65696 3.47654 7.31198 3.28652C7.51276 3.22826 7.78569 3.17292 8.0175 3.14345C8.24442 3.1146 8.89249 3.1231 9.10482 3.1577ZM7.26594 5.02083C7.26163 5.03216 7.25986 6.15723 7.26203 7.521L7.26597 10.0006H7.87947H8.49296L8.49697 9.36921L8.50097 8.73784L8.8804 8.73779C9.44118 8.73773 9.65321 8.70216 9.93143 8.56145C10.1386 8.45668 10.2419 8.38046 10.427 8.19588C10.7109 7.91264 10.8633 7.64377 10.957 7.2608C10.9891 7.12964 11.0139 6.72559 10.9928 6.67648C10.9863 6.66112 10.9823 6.6303 10.9841 6.60798C10.9858 6.58567 10.9806 6.56327 10.9724 6.55822C10.9642 6.55317 10.9609 6.53604 10.9651 6.52017C10.9692 6.50428 10.9654 6.48686 10.9566 6.48143C10.9478 6.476 10.9442 6.46215 10.9487 6.45064C10.9531 6.43913 10.9492 6.42511 10.9401 6.41946C10.9309 6.41381 10.9276 6.40248 10.9327 6.39428C10.9378 6.38607 10.9336 6.36933 10.9234 6.35707C10.9132 6.34481 10.91 6.33478 10.9163 6.33478C10.9226 6.33478 10.9182 6.3234 10.9066 6.30947C10.8951 6.29555 10.8873 6.28178 10.8894 6.27886C10.8916 6.27595 10.8927 6.27183 10.8921 6.26973C10.8914 6.26764 10.8886 6.25372 10.8857 6.23885C10.875 6.18278 10.7815 6.00254 10.6977 5.87635C10.597 5.72467 10.3288 5.44235 10.1954 5.34757C9.99356 5.20416 9.70321 5.08236 9.45922 5.03876C9.26689 5.00438 7.27841 4.98814 7.26594 5.02083ZM9.12536 6.25821C9.34542 6.27529 9.42223 6.30619 9.55431 6.43088C9.70072 6.56906 9.78183 6.80523 9.74526 6.98691C9.73546 7.03563 9.71266 7.10598 9.69459 7.14322C9.64534 7.24474 9.49552 7.39673 9.40743 7.43456C9.3054 7.47835 9.1133 7.49777 8.78054 7.49792L8.50063 7.49804V6.8705V6.24295L8.71919 6.2433C8.83939 6.24348 9.02217 6.25019 9.12536 6.25821Z" fill="#B70A29"/></svg>
									span Будет потрачено 232 балла!
						.item__mini-info
							.mini-info__block
								b 5 из 26
								span Сегодня 
							.mini-info__block
								b ₽232.50
								span Кешбэк 
							.mini-info__block.mini-info__block_smile
								<svg width="40" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M46.451 0.05891C33.6143 1.37676 23.412 6.08273 14.8679 14.6268C2.9032 26.5913 -2.1835 43.6202 1.25158 60.2085C5.25658 79.548 20.1555 94.6435 39.4627 98.9242C43.3422 99.7844 45.5084 100 50.266 100C55.0237 100 57.1898 99.7844 61.0694 98.9242C76.1857 95.5728 88.7019 85.6181 95.4932 71.5456C99.3619 63.529 101.016 53.8926 100.064 44.9218C98.8225 33.2226 93.9038 22.8837 85.6556 14.6354C77.8618 6.84163 68.5144 2.15835 57.3091 0.432978C55.3398 0.129733 48.1678 -0.117364 46.451 0.05891ZM56.3691 8.1495C63.4963 9.19912 69.8574 11.8311 75.6995 16.1477C83.2257 21.7089 88.8216 30.0861 91.2722 39.4603C92.9534 45.891 92.954 54.1438 91.2736 60.5896C90.5169 63.4926 89.6735 65.7399 88.2263 68.7088C82.1305 81.2152 70.1178 89.9639 56.3967 91.8902C50.9881 92.6497 44.6435 92.3232 39.7013 91.0312C34.24 89.6034 28.8499 86.9982 24.5391 83.7028C20.6542 80.733 16.8992 76.5961 14.3309 72.4555C12.9651 70.254 10.973 66.1128 10.2699 64.0134C6.99447 54.2346 7.23471 43.5429 10.9378 34.2758C13.1887 28.643 17.4177 22.5222 21.6164 18.82C22.4705 18.0668 23.2136 17.4024 23.2674 17.3435C23.3212 17.2848 23.8935 16.8346 24.5391 16.3432C30.1162 12.0981 37.094 9.17584 44.1033 8.1493C47.4922 7.65315 52.9988 7.65315 56.3691 8.1495ZM35.2916 31.0563C34.0189 31.546 32.7347 32.7897 32.1237 34.1243C31.7113 35.0251 31.6507 35.4038 31.7131 36.6851C31.8322 39.1242 32.8548 40.6639 35.101 41.7857C37.3073 42.8875 40.469 42.0662 42.0393 39.9838C42.9598 38.7628 43.308 37.505 43.1769 35.8734C43.0527 34.3245 42.5209 33.2887 41.2751 32.1685C39.6108 30.6722 37.3714 30.2559 35.2916 31.0563ZM62.2716 30.8579C61.9341 30.962 61.2298 31.3335 60.7065 31.6833C57.6321 33.7377 57.3099 38.235 60.0589 40.7184C61.2453 41.7902 62.3812 42.2353 63.9549 42.2452C67.9977 42.2705 70.8466 38.235 69.4319 34.4872C68.5625 32.1839 66.7086 30.8346 64.2674 30.7286C63.5071 30.6955 62.6089 30.7536 62.2716 30.8579ZM30.0171 56.7466C29.0255 57.2054 28.5032 57.9324 28.4011 58.9967C28.3208 59.8313 28.413 60.1688 29.0911 61.5238C30.2792 63.8974 31.3721 65.4016 33.3265 67.3532C39.0956 73.1137 47.5742 75.4833 55.744 73.6184C61.5426 72.2949 66.3668 69.1314 69.6919 64.4716C71.0434 62.5778 72.178 60.2054 72.178 59.2734C72.178 57.709 70.6993 56.3818 69.1326 56.5402C67.9795 56.6568 67.3397 57.1692 66.6642 58.5174C64.5276 62.7812 61.1627 65.7976 56.7222 67.4299C54.584 68.216 52.8066 68.512 50.266 68.5051C47.6792 68.4983 45.9126 68.2017 43.7558 67.4128C39.2518 65.7652 36.0043 62.846 33.9189 58.57C33.6133 57.9436 33.1086 57.2494 32.7973 57.0278C32.0877 56.5224 30.7861 56.391 30.0171 56.7466Z" fill="#21B396"/></svg>
								.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
						button.item__conditions Условия покупки
						.item__description
							h4 Описание:
							p Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-
				a(href="card-single.html").popup__more1 Больше информации о товаре
		.card__top
			.top__cashback
				.num 100%
				p Кешбэк
			.top__sale
				<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.05585 0.0223165C7.192 0.0846122 6.51586 0.231872 5.80124 0.513396C5.54157 0.615702 5.03075 0.86389 4.76318 1.01776C3.49601 1.74647 2.49319 2.79741 1.83037 4.09133C1.45517 4.82377 1.26934 5.34609 1.13294 6.05162C1.00873 6.69417 0.964922 7.55422 1.02414 8.18778C1.15434 9.58062 1.65799 10.8734 2.51156 12.0057C3.23856 12.97 4.19175 13.7456 5.31045 14.283C6.48922 14.8492 7.89787 15.091 9.2445 14.9583C10.4387 14.8405 11.4864 14.4763 12.519 13.8198C13.7862 13.0143 14.7723 11.8636 15.3918 10.4674C15.7168 9.73498 15.9113 8.95442 15.9848 8.08733C16.0049 7.84969 16.0051 7.17564 15.985 6.92246C15.8805 5.60086 15.4762 4.44984 14.7226 3.32916C14.1418 2.46536 13.343 1.69685 12.45 1.14278C11.4931 0.548998 10.5075 0.199209 9.41922 0.0670867C9.16503 0.0362144 8.6172 -0.00212729 8.46229 9.20866e-05C8.3948 0.00105637 8.2119 0.0110512 8.05585 0.0223165ZM9.16781 1.2905C10.3062 1.42757 11.3046 1.81581 12.2064 2.47214C13.0142 3.06005 13.7015 3.88669 14.1385 4.7959C14.4456 5.43488 14.6375 6.10192 14.7307 6.85519C14.7573 7.06972 14.757 7.90753 14.7303 8.13325C14.6073 9.17158 14.278 10.0895 13.7215 10.9455C13.2801 11.6243 12.6878 12.2205 11.9949 12.6836C10.887 13.4241 9.47531 13.8207 8.21779 13.7445C6.82598 13.6603 5.56765 13.1738 4.49756 12.3063C4.26678 12.1192 3.82545 11.6729 3.63276 11.4317C2.8911 10.5033 2.44916 9.46218 2.28531 8.25724C2.25686 8.04795 2.2517 7.93696 2.25121 7.521C2.25046 6.89543 2.29182 6.53972 2.42856 5.99583C2.69827 4.92292 3.25244 3.93139 4.02169 3.1454C4.35606 2.80375 4.61784 2.58434 4.9962 2.32859C5.88968 1.72466 6.97172 1.35235 8.09419 1.26266C8.26416 1.24907 8.97733 1.26757 9.16781 1.2905ZM8.16321 1.89714C7.73092 1.93339 7.45844 1.97572 7.13189 2.05735C5.69828 2.41577 4.44104 3.34557 3.67644 4.61285C3.29117 5.25145 3.02569 6.02181 2.92483 6.79397C2.87178 7.20008 2.87169 7.8239 2.9246 8.23274C3.10989 9.66404 3.85868 10.99 4.99097 11.892C5.81667 12.5497 6.7792 12.9465 7.8718 13.0794C8.14526 13.1127 8.83506 13.1174 9.09112 13.0877C10.0819 12.9727 10.9312 12.6533 11.7358 12.0931C12.0856 11.8495 12.5247 11.4497 12.8069 11.1179C14.3043 9.35718 14.5477 6.79266 13.4098 4.76675C12.5524 3.24028 11.0434 2.198 9.34419 1.9587C8.83856 1.8875 8.49304 1.86948 8.16321 1.89714ZM9.10482 3.1577C10.3647 3.36302 11.446 4.04301 12.1291 5.05957C12.196 5.15903 12.2558 5.2427 12.2621 5.2455C12.2685 5.24831 12.2736 5.25987 12.2736 5.2712C12.2736 5.28252 12.2827 5.30089 12.2937 5.31202C12.3254 5.34388 12.4962 5.68763 12.5712 5.87031C12.8077 6.44667 12.9256 7.15286 12.887 7.76108C12.8606 8.17526 12.7694 8.61234 12.6332 8.97722C12.5653 9.15897 12.4139 9.4985 12.3896 9.52348C12.38 9.53334 12.3593 9.56879 12.3435 9.60225C12.3278 9.63572 12.3056 9.67236 12.2943 9.68371C12.2829 9.69503 12.2736 9.71357 12.2736 9.72489C12.2736 9.73622 12.2681 9.74778 12.2613 9.75059C12.2546 9.75339 12.2109 9.81424 12.1642 9.88579C11.8265 10.4037 11.3266 10.8892 10.7782 11.2317C10.5921 11.348 10.2175 11.5323 10.019 11.6053C9.4797 11.8037 9.05457 11.8809 8.50063 11.881C8.14994 11.8812 7.97592 11.8653 7.67985 11.8064C6.66471 11.6043 5.73457 11.042 5.08528 10.2378C4.95477 10.0762 4.69695 9.70167 4.69695 9.67374C4.69695 9.66549 4.6917 9.65646 4.68531 9.65364C4.6789 9.65084 4.63115 9.5659 4.57919 9.46487C4.0239 8.38537 3.9564 7.08245 4.3969 5.94635C4.46902 5.76033 4.59883 5.47613 4.61768 5.46297C4.6242 5.4584 4.6423 5.4273 4.65793 5.39384C4.67354 5.36037 4.69561 5.32373 4.70698 5.31238C4.71833 5.30106 4.72762 5.28252 4.72762 5.2712C4.72762 5.25987 4.73284 5.24831 4.7392 5.2455C4.74557 5.2427 4.78178 5.19254 4.81968 5.13402C5.00701 4.84486 5.30502 4.4981 5.56749 4.2639C6.10045 3.78834 6.65696 3.47654 7.31198 3.28652C7.51276 3.22826 7.78569 3.17292 8.0175 3.14345C8.24442 3.1146 8.89249 3.1231 9.10482 3.1577ZM7.26594 5.02083C7.26163 5.03216 7.25986 6.15723 7.26203 7.521L7.26597 10.0006H7.87947H8.49296L8.49697 9.36921L8.50097 8.73784L8.8804 8.73779C9.44118 8.73773 9.65321 8.70216 9.93143 8.56145C10.1386 8.45668 10.2419 8.38046 10.427 8.19588C10.7109 7.91264 10.8633 7.64377 10.957 7.2608C10.9891 7.12964 11.0139 6.72559 10.9928 6.67648C10.9863 6.66112 10.9823 6.6303 10.9841 6.60798C10.9858 6.58567 10.9806 6.56327 10.9724 6.55822C10.9642 6.55317 10.9609 6.53604 10.9651 6.52017C10.9692 6.50428 10.9654 6.48686 10.9566 6.48143C10.9478 6.476 10.9442 6.46215 10.9487 6.45064C10.9531 6.43913 10.9492 6.42511 10.9401 6.41946C10.9309 6.41381 10.9276 6.40248 10.9327 6.39428C10.9378 6.38607 10.9336 6.36933 10.9234 6.35707C10.9132 6.34481 10.91 6.33478 10.9163 6.33478C10.9226 6.33478 10.9182 6.3234 10.9066 6.30947C10.8951 6.29555 10.8873 6.28178 10.8894 6.27886C10.8916 6.27595 10.8927 6.27183 10.8921 6.26973C10.8914 6.26764 10.8886 6.25372 10.8857 6.23885C10.875 6.18278 10.7815 6.00254 10.6977 5.87635C10.597 5.72467 10.3288 5.44235 10.1954 5.34757C9.99356 5.20416 9.70321 5.08236 9.45922 5.03876C9.26689 5.00438 7.27841 4.98814 7.26594 5.02083ZM9.12536 6.25821C9.34542 6.27529 9.42223 6.30619 9.55431 6.43088C9.70072 6.56906 9.78183 6.80523 9.74526 6.98691C9.73546 7.03563 9.71266 7.10598 9.69459 7.14322C9.64534 7.24474 9.49552 7.39673 9.40743 7.43456C9.3054 7.47835 9.1133 7.49777 8.78054 7.49792L8.50063 7.49804V6.8705V6.24295L8.71919 6.2433C8.83939 6.24348 9.02217 6.25019 9.12536 6.25821Z" fill="#B70A29"/></svg>
				.num -300
		.card__photo
			.text__more Быстрый просмотр
			.text__timer Доступно через 11:59
			a(href="card-single.html")
				img(src=img alt="Photo")
		a(href="card-single.html").card__name= title
		.card__price
			p= price
			strike 677 ₽
			.price__data 21 дн.
			// a(href="404.html").price__share
				<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.92773 8.4295C9.31455 8.4295 8.75705 8.67234 8.3462 9.06681L5.90225 7.55269C6.0417 7.22952 6.11914 6.87357 6.11914 6.49982C6.11914 6.12607 6.0417 5.77012 5.90223 5.44697L8.34618 3.93285C8.75705 4.32729 9.31455 4.57013 9.92773 4.57013C11.1878 4.57013 12.2129 3.54501 12.2129 2.28497C12.2129 1.02494 11.1878 -0.000183105 9.92773 -0.000183105C8.6677 -0.000183105 7.64258 1.02494 7.64258 2.28497C7.64258 2.65697 7.73198 3.00848 7.89034 3.31918L5.5036 4.79788C5.01417 4.20923 4.2767 3.8338 3.45312 3.8338C1.98308 3.8338 0.787109 5.02978 0.787109 6.49982C0.787109 7.96986 1.98308 9.16583 3.45312 9.16583C4.2767 9.16583 5.01417 8.79041 5.5036 8.20175L7.89034 9.68045C7.73198 9.99115 7.64258 10.3427 7.64258 10.7147C7.64258 11.9747 8.6677 12.9998 9.92773 12.9998C11.1878 12.9998 12.2129 11.9747 12.2129 10.7147C12.2129 9.45463 11.1878 8.4295 9.92773 8.4295ZM9.92773 0.761536C10.7678 0.761536 11.4512 1.44495 11.4512 2.28497C11.4512 3.125 10.7678 3.80841 9.92773 3.80841C9.08771 3.80841 8.4043 3.125 8.4043 2.28497C8.4043 1.44495 9.08771 0.761536 9.92773 0.761536ZM3.45312 8.40411C2.4031 8.40411 1.54883 7.54985 1.54883 6.49982C1.54883 5.44979 2.4031 4.59552 3.45312 4.59552C4.50315 4.59552 5.35742 5.44979 5.35742 6.49982C5.35742 7.54985 4.50315 8.40411 3.45312 8.40411ZM9.92773 12.2381C9.08771 12.2381 8.4043 11.5547 8.4043 10.7147C8.4043 9.87464 9.08771 9.19122 9.92773 9.19122C10.7678 9.19122 11.4512 9.87464 11.4512 10.7147C11.4512 11.5547 10.7678 12.2381 9.92773 12.2381Z" fill="#B1B1B1"/></svg>
		button.card__button Условия покупки



mixin card1(title, price, img)
	.card.card_1
		.card__top
			.top__cashback
				.num 100%
				p Кешбэк
			.top__sale.top__sale_plus
				<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.05585 0.0223165C7.192 0.0846122 6.51586 0.231872 5.80124 0.513396C5.54157 0.615702 5.03075 0.86389 4.76318 1.01776C3.49601 1.74647 2.49319 2.79741 1.83037 4.09133C1.45517 4.82377 1.26934 5.34609 1.13294 6.05162C1.00873 6.69417 0.964922 7.55422 1.02414 8.18778C1.15434 9.58062 1.65799 10.8734 2.51156 12.0057C3.23856 12.97 4.19175 13.7456 5.31045 14.283C6.48922 14.8492 7.89787 15.091 9.2445 14.9583C10.4387 14.8405 11.4864 14.4763 12.519 13.8198C13.7862 13.0143 14.7723 11.8636 15.3918 10.4674C15.7168 9.73498 15.9113 8.95442 15.9848 8.08733C16.0049 7.84969 16.0051 7.17564 15.985 6.92246C15.8805 5.60086 15.4762 4.44984 14.7226 3.32916C14.1418 2.46536 13.343 1.69685 12.45 1.14278C11.4931 0.548998 10.5075 0.199209 9.41922 0.0670867C9.16503 0.0362144 8.6172 -0.00212729 8.46229 9.20866e-05C8.3948 0.00105637 8.2119 0.0110512 8.05585 0.0223165ZM9.16781 1.2905C10.3062 1.42757 11.3046 1.81581 12.2064 2.47214C13.0142 3.06005 13.7015 3.88669 14.1385 4.7959C14.4456 5.43488 14.6375 6.10192 14.7307 6.85519C14.7573 7.06972 14.757 7.90753 14.7303 8.13325C14.6073 9.17158 14.278 10.0895 13.7215 10.9455C13.2801 11.6243 12.6878 12.2205 11.9949 12.6836C10.887 13.4241 9.47531 13.8207 8.21779 13.7445C6.82598 13.6603 5.56765 13.1738 4.49756 12.3063C4.26678 12.1192 3.82545 11.6729 3.63276 11.4317C2.8911 10.5033 2.44916 9.46218 2.28531 8.25724C2.25686 8.04795 2.2517 7.93696 2.25121 7.521C2.25046 6.89543 2.29182 6.53972 2.42856 5.99583C2.69827 4.92292 3.25244 3.93139 4.02169 3.1454C4.35606 2.80375 4.61784 2.58434 4.9962 2.32859C5.88968 1.72466 6.97172 1.35235 8.09419 1.26266C8.26416 1.24907 8.97733 1.26757 9.16781 1.2905ZM8.16321 1.89714C7.73092 1.93339 7.45844 1.97572 7.13189 2.05735C5.69828 2.41577 4.44104 3.34557 3.67644 4.61285C3.29117 5.25145 3.02569 6.02181 2.92483 6.79397C2.87178 7.20008 2.87169 7.8239 2.9246 8.23274C3.10989 9.66404 3.85868 10.99 4.99097 11.892C5.81667 12.5497 6.7792 12.9465 7.8718 13.0794C8.14526 13.1127 8.83506 13.1174 9.09112 13.0877C10.0819 12.9727 10.9312 12.6533 11.7358 12.0931C12.0856 11.8495 12.5247 11.4497 12.8069 11.1179C14.3043 9.35718 14.5477 6.79266 13.4098 4.76675C12.5524 3.24028 11.0434 2.198 9.34419 1.9587C8.83856 1.8875 8.49304 1.86948 8.16321 1.89714ZM9.10482 3.1577C10.3647 3.36302 11.446 4.04301 12.1291 5.05957C12.196 5.15903 12.2558 5.2427 12.2621 5.2455C12.2685 5.24831 12.2736 5.25987 12.2736 5.2712C12.2736 5.28252 12.2827 5.30089 12.2937 5.31202C12.3254 5.34388 12.4962 5.68763 12.5712 5.87031C12.8077 6.44667 12.9256 7.15286 12.887 7.76108C12.8606 8.17526 12.7694 8.61234 12.6332 8.97722C12.5653 9.15897 12.4139 9.4985 12.3896 9.52348C12.38 9.53334 12.3593 9.56879 12.3435 9.60225C12.3278 9.63572 12.3056 9.67236 12.2943 9.68371C12.2829 9.69503 12.2736 9.71357 12.2736 9.72489C12.2736 9.73622 12.2681 9.74778 12.2613 9.75059C12.2546 9.75339 12.2109 9.81424 12.1642 9.88579C11.8265 10.4037 11.3266 10.8892 10.7782 11.2317C10.5921 11.348 10.2175 11.5323 10.019 11.6053C9.4797 11.8037 9.05457 11.8809 8.50063 11.881C8.14994 11.8812 7.97592 11.8653 7.67985 11.8064C6.66471 11.6043 5.73457 11.042 5.08528 10.2378C4.95477 10.0762 4.69695 9.70167 4.69695 9.67374C4.69695 9.66549 4.6917 9.65646 4.68531 9.65364C4.6789 9.65084 4.63115 9.5659 4.57919 9.46487C4.0239 8.38537 3.9564 7.08245 4.3969 5.94635C4.46902 5.76033 4.59883 5.47613 4.61768 5.46297C4.6242 5.4584 4.6423 5.4273 4.65793 5.39384C4.67354 5.36037 4.69561 5.32373 4.70698 5.31238C4.71833 5.30106 4.72762 5.28252 4.72762 5.2712C4.72762 5.25987 4.73284 5.24831 4.7392 5.2455C4.74557 5.2427 4.78178 5.19254 4.81968 5.13402C5.00701 4.84486 5.30502 4.4981 5.56749 4.2639C6.10045 3.78834 6.65696 3.47654 7.31198 3.28652C7.51276 3.22826 7.78569 3.17292 8.0175 3.14345C8.24442 3.1146 8.89249 3.1231 9.10482 3.1577ZM7.26594 5.02083C7.26163 5.03216 7.25986 6.15723 7.26203 7.521L7.26597 10.0006H7.87947H8.49296L8.49697 9.36921L8.50097 8.73784L8.8804 8.73779C9.44118 8.73773 9.65321 8.70216 9.93143 8.56145C10.1386 8.45668 10.2419 8.38046 10.427 8.19588C10.7109 7.91264 10.8633 7.64377 10.957 7.2608C10.9891 7.12964 11.0139 6.72559 10.9928 6.67648C10.9863 6.66112 10.9823 6.6303 10.9841 6.60798C10.9858 6.58567 10.9806 6.56327 10.9724 6.55822C10.9642 6.55317 10.9609 6.53604 10.9651 6.52017C10.9692 6.50428 10.9654 6.48686 10.9566 6.48143C10.9478 6.476 10.9442 6.46215 10.9487 6.45064C10.9531 6.43913 10.9492 6.42511 10.9401 6.41946C10.9309 6.41381 10.9276 6.40248 10.9327 6.39428C10.9378 6.38607 10.9336 6.36933 10.9234 6.35707C10.9132 6.34481 10.91 6.33478 10.9163 6.33478C10.9226 6.33478 10.9182 6.3234 10.9066 6.30947C10.8951 6.29555 10.8873 6.28178 10.8894 6.27886C10.8916 6.27595 10.8927 6.27183 10.8921 6.26973C10.8914 6.26764 10.8886 6.25372 10.8857 6.23885C10.875 6.18278 10.7815 6.00254 10.6977 5.87635C10.597 5.72467 10.3288 5.44235 10.1954 5.34757C9.99356 5.20416 9.70321 5.08236 9.45922 5.03876C9.26689 5.00438 7.27841 4.98814 7.26594 5.02083ZM9.12536 6.25821C9.34542 6.27529 9.42223 6.30619 9.55431 6.43088C9.70072 6.56906 9.78183 6.80523 9.74526 6.98691C9.73546 7.03563 9.71266 7.10598 9.69459 7.14322C9.64534 7.24474 9.49552 7.39673 9.40743 7.43456C9.3054 7.47835 9.1133 7.49777 8.78054 7.49792L8.50063 7.49804V6.8705V6.24295L8.71919 6.2433C8.83939 6.24348 9.02217 6.25019 9.12536 6.25821Z" fill="#21B396"/></svg>
				.num +300
		.card__photo
			.text__more Быстрый просмотр
			a(href="card-single.html")
				img(src=img alt="Photo")
		a(href="card-single.html").card__name= title
		.card__price
			p= price
			strike 677 ₽
			// a(href="404.html").price__share
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 12.5641C14.3301 12.5641 13.4724 12.926 12.8403 13.514L9.08039 11.2573C9.29492 10.7756 9.41406 10.245 9.41406 9.68799C9.41406 9.13093 9.29492 8.6004 9.08035 8.11876L12.8403 5.86203C13.4724 6.44993 14.3301 6.81187 15.2734 6.81187C17.212 6.81187 18.7891 5.28397 18.7891 3.40593C18.7891 1.5279 17.212 0 15.2734 0C13.3349 0 11.7578 1.5279 11.7578 3.40593C11.7578 3.96038 11.8954 4.48429 12.139 4.94738L8.46707 7.15132C7.7141 6.27396 6.57953 5.7144 5.3125 5.7144C3.0509 5.7144 1.21094 7.49695 1.21094 9.68799C1.21094 11.879 3.0509 13.6616 5.3125 13.6616C6.57953 13.6616 7.7141 13.102 8.46707 12.2247L12.139 14.4286C11.8954 14.8917 11.7578 15.4156 11.7578 15.97C11.7578 17.8481 13.3349 19.376 15.2734 19.376C17.212 19.376 18.7891 17.8481 18.7891 15.97C18.7891 14.092 17.212 12.5641 15.2734 12.5641ZM15.2734 1.13531C16.5658 1.13531 17.6172 2.15391 17.6172 3.40593C17.6172 4.65795 16.5658 5.67656 15.2734 5.67656C13.9811 5.67656 12.9297 4.65795 12.9297 3.40593C12.9297 2.15391 13.9811 1.13531 15.2734 1.13531ZM5.3125 12.5263C3.69707 12.5263 2.38281 11.253 2.38281 9.68799C2.38281 8.12296 3.69707 6.84971 5.3125 6.84971C6.92793 6.84971 8.24219 8.12296 8.24219 9.68799C8.24219 11.253 6.92793 12.5263 5.3125 12.5263ZM15.2734 18.2407C13.9811 18.2407 12.9297 17.2221 12.9297 15.97C12.9297 14.718 13.9811 13.6994 15.2734 13.6994C16.5658 13.6994 17.6172 14.718 17.6172 15.97C17.6172 17.2221 16.5658 18.2407 15.2734 18.2407Z" fill="#495FEA"/></svg>
		button.card__button Условия покупки
