mixin titleH2(title, showAll, slider)
	.title-h2
		h2= title
		if showAll
			a(href="404.html") Показать все
		if slider
			.slider__arr.slider__arr_prev
				img(src="img/svg/ico39.svg" alt="Ico")
			.slider__arr.slider__arr_next
				img(src="img/svg/ico40.svg" alt="Ico")




mixin card(title, price, img, classCard)
	.card(class= classCard)
		.popup
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico47.svg" alt="Ico")
				.page-card-single__item
					.item__slider
						.slider-nav
							.slider-nav__arr.slider-nav__arr_prev
								img(src="img/svg/ico39.svg" alt="Ico")
							.slider-nav__block
								.slider__item
									img(src="img/slider-single2.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single2.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single3.jpg" alt="Photo")
								.slider__item
									img(src="img/slider-single4.jpg" alt="Photo")
							.slider-nav__arr.slider-nav__arr_next
								img(src="img/svg/ico40.svg" alt="Ico")
						.slider-for
							.slider__item
								img(src="img/slider-single1.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single1.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
					.item__info
						.item__top
							h2.item__name Кольцо-держатель на палец LGD Magnests для телефона серебро
							.item__share
							.item__share.select-share
								.select-share__head
									img(src="img/svg/ico41.svg" alt="Ico")
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
							label.item__likes
								img(src="img/svg/ico43.svg" alt="Ico").empty
								img(src="img/svg/ico43-1.svg" alt="Ico").full
								.count 58
						.item__top_2
							.top_2__lft
								.item__sale
									span Продается на 
									img(src="img/svg/yandex.svg" alt="Yandex")
								.item__cashback
									span Возврат кешбэка: 
									.num 21 дн.
							.top_2__rht
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico41.svg" alt="Ico")
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
								label.item__likes
									img(src="img/svg/ico43.svg" alt="Ico").empty
									img(src="img/svg/ico43-1.svg" alt="Ico").full
									.count 58

						.item__price
							.price__title Цена
							.price__block
								.price__num ₽17.50
								strike.price__strike ₽250.00
								.price__lost
									img(src="img/svg/ico44.svg" alt="Ico")
									span Будет потрачено 232 балла!
						.item__mini-info
							.mini-info__block
								b 5 из 26
								span Сегодня 
							.mini-info__block
								b ₽232.50
								span Кешбэк 
							.mini-info__block.mini-info__block_smile
								img(src="img/svg/ico45.svg" alt="Ico")
								.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
						button.item__conditions Условия покупки
						.item__description
							h4 Описание:
							p Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-
				a(href="card-single.html").popup__more1 Больше информации о товаре
		.card__top
			.top__cashback
				.num 100%
				p Кешбэк
			.top__sale
				img(src="img/svg/ico44.svg" alt="Ico")
				.num -300
		.card__photo
			.text__more Быстрый просмотр
			.text__timer Доступно через 11:59
			a(href="card-single.html")
				img(src=img alt="Photo")
		a(href="card-single.html").card__name= title
		.card__price
			p= price
			strike 677 ₽
			.price__data 21 дн.
		button.card__button Условия покупки



mixin card1(title, price, img)
	.card.card_1
		.card__top
			.top__cashback
				.num 100%
				p Кешбэк
			.top__sale.top__sale_plus
				img(src="img/svg/ico49.svg" alt="Ico")
				.num +300
		.card__photo
			.text__more Быстрый просмотр
			a(href="card-single.html")
				img(src=img alt="Photo")
		a(href="card-single.html").card__name= title
		.card__price
			p= price
			strike 677 ₽
		button.card__button Условия покупки
